*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Inter' ;
    background-color: hsl(36, 100%, 99%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.container{
   align-items: center;
   justify-content: center;
   width: 900px;
   height: 100vh;
   margin: min(5%,1rem);

}
.container-fluid{
    margin: 0px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.navbar-brand{
    color: hsl(240, 100%, 5%);
    font-size: 3rem;
}
.navbar-nav{
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.nav-link{
    margin: 10px;
    color: hsl(233, 8%, 79%);
    cursor: pointer;
}
.nav-link:hover{
    color: hsl(5, 85%, 63%);
}
.section1{
    margin-top: 30px;
    display: flex;
}
.phase1 img{
    width: 500px;
}
.phase2{
    display: flex;
    width: 500px;
    margin-top: 20px;
}
.phase2 h1{
    width: 245px;
    font-size: 2rem;
}
.phase2 p{
    width: 245px;
    font-size: 0.7rem;
    color: hsl(233, 8%, 79%);;
}
.phase2 button{
    margin-top: 22px;
    width: 100px;
    height: 35px;
    font-size: 0.7rem;
    color: hsl(233, 8%, 79%);
    background-color: hsl(5, 85%, 63%);
    cursor: pointer;
}
button:hover{
     background-color: hsl(240, 100%, 5%);
}
.phase3{
    background-color: hsl(240, 100%, 5%);
    margin-left: 20px;
    width: 210px;
}
.one{
    padding: 5px;
    border-bottom: hsl(233, 8%, 79%) 1px solid;
}
.one h1{
    color: hsl(35, 77%, 62%);
    font-size: 1.2rem;
    margin: 20px;
}
.one h2{
    color: hsl(240, 17%, 98%);
    font-size: 0.9rem;
    margin: 10px;
    cursor: pointer;
} 
.one h2:hover{
    color:hsl(35, 77%, 62%);
}  
.one p { 
    color:hsl(233, 8%, 79%);
    font-size: 0.6rem;
    line-height: 1rem;
}
.section2{
    display: flex;
    margin-top: 50px;
}
.AB1{
    display: flex;
    width: 250px;
}
.AB1 img{
    height: 100px;
    width: 100px;
}
.AB1 .num {
    margin-left: 17px;
}
.AB1 h1{
    color: hsl(233, 8%, 79%);
}
.AB1 h2{
    color: hsl(240, 100%, 5%);
    font-size: 0.9rem;
    cursor: pointer;
}
.AB1 h2:hover{
    color: hsl(5, 85%, 63%);
}
.AB1 p{
    color: hsl(240, 100%, 5%);
    font-size: 0.7rem;
}

@media only screen and (max-width: 600px) {
    .section1{
        display: block;
    }
    .phase1 img{
        width: 100px;
    }
    .phase2{
        display: block;
        margin-top: 20px;
    }
    .phase3{
        margin-top: 20px;
    }
    .section2{
        display: block;
        margin: 20px;
    }
    .AB1{
        margin-bottom: 20px;
    }
}